

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

/* The container */
.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmarkCheckBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--secondary1);
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmarkCheckBox {
  background-color: var(--attention);
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmarkCheckBox {
  background-color: var(--secondary2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkCheckBox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmarkCheckBox:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmarkCheckBox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--attention);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}