input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0.7px 0;
    outline: none !important;
    -webkit-appearance:none;
    border: 0;
  }
  input[type=range]::-moz-focus-outer {
    border: 0;
  }
  input[type=range].slider:focus {
    /* outline: none; */
    outline: none !important;
    -webkit-appearance:none;
    border: 0;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #216869;
    border-radius: 0px;
    border: 0px solid #010101;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: #800832;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.7px;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #277b7c;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #216869;
    border-radius: 0px;
    border: 0px solid #010101;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: #800832;
    cursor: pointer;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-ms-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #1b5556;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #216869;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: #800832;
    cursor: pointer;
    height: 25.6px;
    outline: none !important;
    -webkit-appearance:none;
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #216869;
    outline: none !important;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #277b7c;
    outline: none !important;
    -webkit-appearance:none;
  }  